<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style_conn.css' %}">
    <title>Loging Page</title>
  </head>
  
  <body >
    <section >
        <div class="titi">
          <h2>Création de compte</h2>
          <div class="entete">
            <h4>{{ message }}</h4>
            {% comment %} <p>{{ error }}</p> {% endcomment %}
            <form method="post" action="{% url 'account' %}">
              {% csrf_token %}
                <div class="entete">
                  <select class="lili" placeholder="genre" name="genre"> 
                  <option class="contactus" value = "Homme">Homme</option>
                  <option class="contactus" value = "Femme">Femme</option>
                  </select>
                </div>              
                <div class="col-md-12 ">
                  <input class="contactus" placeholder="votre nom" type="text" name="first_name"> 
                </div> 
                <div class="col-md-12 ">
                  <input class="contactus" placeholder="votre prénom" type="text" name="last_name"> 
                </div>
                <div class="col-md-12 ">
                  <input class="contactus" placeholder="votre nom d'utilisateur" type="text" name="user_name"> 
                </div>
                <div class="col-md-12 ">
                  <input class="contactus" placeholder="votre mail" type="text" name="email"> 
                </div>
                <div class="col-md-12 ">
                  <input class="contactus" placeholder="votre numéro de téléphone" type="text" name="telephone"> 
                </div>
                <div class="col-md-12 ">
                  <input class="contactus" placeholder="votre CNIB" type="text" name="cnib"> 
                </div>    
                <div class="col-md-12 ">
                  <input class="contactus" placeholder="votre mot de passe" type="password" name="Password"> 
                </div>            
                {% comment %} <input class="input" type="text" name="user_name" placeholder="Entrer le nom d'utilisateur...">
              <input class="input" type="text" name="email" placeholder="Entrer votre email...">
              <input class="input" type="text" name="telephone" placeholder="Entrer votre numéro de téléphone...">
              <input class="input" type="text" name="cnib" placeholder="Entrer votre numéro de cnib..."> {% endcomment %}
              <button type="submit">Enregistrer</button>
            </form>
                <label>
                </label>
          </div>
              <div class="container">
                  {% comment %} <input type="checkbox" checked="checked" name="remember"> Remember me {% endcomment %}
                  {% comment %} <span class="psw"> <a href="#">Forgot password?</a></span> {% endcomment %}
              </div>
              {% comment %} <div class="test">
                <p class="or">Or Connect with</p>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-linkedin"></i>
              </div> {% endcomment %}
              <footer><b>Abdoul Kader SAWADOGO</b></footer>
          </div>

        {% comment %} <div class="part"> {% endcomment %}
          {% comment %} <i class="fa-solid fa-user-plus"></i> {% endcomment %}
          {% comment %} <h1>Hello Friend!</h1> {% endcomment %}
          {% comment %} <p id="lili">Enter your personnal details and start journey whith us</p> {% endcomment %}
        {% comment %} <a class="regis" href="submit"> {% endcomment %}
          {% comment %} <button>REGISTER<i class="fa fa-circle-arrow-right"></i></button> {% endcomment %}
        {% comment %} </a> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    </section>
  

      
        
  </body>
</html>